
.container{
    display: flex;
    flex:1;
    flex-direction: column;
}
.container div {
    flex: 1;
    background: white;
}
body{
    display: flex;
    flex-direction: column;
    background-color: red;
}
#view{
    justify-self: center;
    background: white;
    flex: 1;
    display: flex;
    aspect-ratio: 1/1;
}
#loe{
    display: flex;
    flex: 1;
    justify-self:center;
    align-self: stretch;
    padding: 10%;
}
#bottom{
    flex: 0.2;
    display: flex;
    justify-content: center;
}
#reset{
    align-self: center;
}